.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.nameCard {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  width: 50px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
}
.commentCard {
  display: flex;
}
.likeCard {
  display: flex;
  align-items: center;
}
li {
  list-style: none;
}

p {
  margin-right: 10px;
}
.likeBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  margin: 10px;
}
.notLiked {
  border: 0px;
  background-color: transparent;
  color: #7e858e;
}
.Liked {
  border: 0px;
  background-color: transparent;
  color: #0ea5e9;
  font-weight: 900;
}
.deleteButton {
  border: 0;
  background-color: transparent;
}